In [1]:
print("hello world")

hello world

In [14]:
1+1

2

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn

In [20]:
a = 5

In [17]:
a = 6

In [21]:
a

5

In [4]:
df = pd.read_csv("heart-disease.csv")

In [6]:
df.head(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
5,57,1,0,140,192,0,1,148,0,0.4,1,0,1,1
6,56,0,1,140,294,0,0,153,0,1.3,1,0,2,1
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3,1
8,52,1,2,172,199,1,1,162,0,0.5,2,0,3,1
9,57,1,2,150,168,0,1,174,0,1.6,2,0,2,1

![](6-step-ml-framework.png)

## 1. Problem definition
Predict heart disease

## 2. Data
This is the data we are using

In [13]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 68A6-95E6

 Directory of C:\Users\USER\elite\sample_project_1

01/02/2021  08:34 PM    <DIR>          .
01/02/2021  08:34 PM    <DIR>          ..
01/02/2021  08:11 PM    <DIR>          .ipynb_checkpoints
12/14/2020  08:26 PM           332,025 6-step-ml-framework.png
12/30/2020  11:55 PM    <DIR>          env
01/02/2021  08:34 PM             9,320 example-notebook.ipynb
01/02/2021  07:54 PM            11,328 heart-disease.csv
               3 File(s)        352,673 bytes
               4 Dir(s)  26,082,783,232 bytes free