In [1]:
import numpy as np

# Datatypes and attributes

In [2]:
# Numpy main datatype is ndarray
a1 = np.array([1,2,3])
a1

array([1, 2, 3])

In [3]:
type(a1)

numpy.ndarray

In [11]:
a2 = np.array([[1, 2.0, 3.3], [4 ,5, 6.5]])
a3 = np.array([[[1, 2, 3],
                [4, 5, 6],
                [7, 8, 9],
               [70, 80, 90]],
               [[10, 11 ,12],
                [13, 14 ,15],
                [16, 17, 18],
               [7, 8, 9]],
              [[100, 110 ,120],
                [130, 140, 150],
                [160, 170, 180],
              [7, 8, 9]]])

In [12]:
a3

array([[[  1,   2,   3],
        [  4,   5,   6],
        [  7,   8,   9],
        [ 70,  80,  90]],

       [[ 10,  11,  12],
        [ 13,  14,  15],
        [ 16,  17,  18],
        [  7,   8,   9]],

       [[100, 110, 120],
        [130, 140, 150],
        [160, 170, 180],
        [  7,   8,   9]]])

In [16]:
a3.shape

(3, 4, 3)

In [15]:
a3.ndim

3

In [17]:
a3.dtype

dtype('int32')

In [18]:
a2.dtype

dtype('float64')

In [20]:
a1.size, a2.size, a3.size

(3, 6, 36)

In [22]:
type(a1), type(a2), type(a3)

(numpy.ndarray, numpy.ndarray, numpy.ndarray)

In [25]:
# create a dataframe from a numpy array
import pandas as pd
df = pd.DataFrame(a2)
df

     0    1    2
0  1.0  2.0  3.3
1  4.0  5.0  6.5

## 2. creating numpy arrays

In [26]:
sample_array = np.array([1,2,3])
sample_array

array([1, 2, 3])

In [27]:
ones = np.ones((2,3))

In [28]:
ones

array([[1., 1., 1.],
       [1., 1., 1.]])

In [29]:
type(ones)

numpy.ndarray

In [30]:
zeros = np.zeros((2,3))

In [31]:
zeros

array([[0., 0., 0.],
       [0., 0., 0.]])

In [32]:
range_array = np.arange(0,10,2)

In [33]:
range_array

array([0, 2, 4, 6, 8])

In [34]:
randint = np.random.randint(0, 10, size= (3,5))

In [35]:
randint

array([[0, 3, 3, 4, 6],
       [5, 2, 4, 1, 3],
       [0, 7, 8, 3, 3]])

In [36]:
np.random.random((5,3))

array([[0.57894005, 0.14583714, 0.51712304],
       [0.5347021 , 0.05918723, 0.12728909],
       [0.77589922, 0.8838729 , 0.92053182],
       [0.27957722, 0.86300906, 0.29181072],
       [0.28161733, 0.17000824, 0.39868149]])

In [37]:
random_array_3 = np.random.rand(5,3)
random_array_3

array([[0.85711355, 0.45310667, 0.86517059],
       [0.68430551, 0.27221761, 0.4989754 ],
       [0.8386133 , 0.89720835, 0.87727788],
       [0.898807  , 0.57638695, 0.61015058],
       [0.93572686, 0.81825386, 0.63641361]])

In [41]:
# psuedo random numbers
#np.random.seed()
random_array_4 = np.random.randint(10, size =(5,3))
random_array_4

array([[8, 1, 6],
       [0, 8, 8],
       [9, 0, 1],
       [9, 1, 7],
       [6, 8, 9]])

In [46]:
np.random.seed(7)
random_array_5 = np.random.random((5,3))
random_array_5

array([[0.07630829, 0.77991879, 0.43840923],
       [0.72346518, 0.97798951, 0.53849587],
       [0.50112046, 0.07205113, 0.26843898],
       [0.4998825 , 0.67923   , 0.80373904],
       [0.38094113, 0.06593635, 0.2881456 ]])

In [47]:
random_array_5 = np.random.random((5,3))
random_array_5

array([[0.90959353, 0.21338535, 0.45212396],
       [0.93120602, 0.02489923, 0.60054892],
       [0.9501295 , 0.23030288, 0.54848992],
       [0.90912837, 0.13316945, 0.52341258],
       [0.75040986, 0.66901324, 0.46775286]])

## 3. Viewing arrays and matrices

In [48]:
np.unique(random_array_4)

array([0, 1, 6, 7, 8, 9])

In [49]:
a1[0]

1

In [50]:
a2[0]

array([1. , 2. , 3.3])

In [51]:
a3[0]

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [70, 80, 90]])

In [56]:
a3[1][0]

array([10, 11, 12])

In [58]:
a3[2,0,0]

100

In [59]:
a3[:2, :2, :2]

array([[[ 1,  2],
        [ 4,  5]],

       [[10, 11],
        [13, 14]]])

In [61]:
a4 = np.random.randint(10, size = (2,3,4,5))
a4

array([[[[6, 7, 7, 9, 3],
         [0, 7, 7, 7, 0],
         [5, 4, 3, 1, 3],
         [1, 3, 4, 3, 1]],

        [[9, 5, 9, 1, 2],
         [3, 2, 2, 5, 7],
         [3, 0, 9, 9, 3],
         [4, 5, 3, 0, 4]],

        [[8, 6, 7, 2, 7],
         [3, 8, 6, 6, 5],
         [6, 5, 7, 1, 5],
         [4, 4, 9, 9, 0]]],


       [[[6, 2, 6, 8, 2],
         [4, 1, 6, 1, 5],
         [1, 6, 9, 8, 6],
         [5, 9, 7, 5, 4]],

        [[9, 6, 8, 1, 5],
         [5, 8, 3, 7, 7],
         [9, 4, 7, 5, 9],
         [6, 2, 0, 5, 3]],

        [[0, 5, 7, 1, 8],
         [4, 9, 0, 2, 0],
         [7, 6, 2, 9, 9],
         [5, 1, 0, 0, 9]]]])

In [62]:
a4.shape, a4.ndim

((2, 3, 4, 5), 4)

In [81]:
#get the 1st 4 numbers of the inner most arrays
a4[:-1,2:,1:-1,1:-2]

array([[[[8, 6],
         [5, 7]]]])

# 4. manipulate & compare arrays

### Arithmetic

In [82]:
a1

array([1, 2, 3])

In [83]:
ones = np.ones(3)

In [84]:
ones

array([1., 1., 1.])

In [85]:
a1 + ones

array([2., 3., 4.])

In [86]:
a1 - ones

array([0., 1., 2.])

In [87]:
a1 * ones

array([1., 2., 3.])

In [91]:
a2 ** 2

array([[ 1.  ,  4.  , 10.89],
       [16.  , 25.  , 42.25]])

In [92]:
# how to reshape numpy array
a2.reshape(3,3)

ValueError: cannot reshape array of size 6 into shape (3,3)

In [100]:
a2*a3.reshape(6,2,3)

array([[[  1. ,   4. ,   9.9],
        [ 16. ,  25. ,  39. ]],

       [[  7. ,  16. ,  29.7],
        [280. , 400. , 585. ]],

       [[ 10. ,  22. ,  39.6],
        [ 52. ,  70. ,  97.5]],

       [[ 16. ,  34. ,  59.4],
        [ 28. ,  40. ,  58.5]],

       [[100. , 220. , 396. ],
        [520. , 700. , 975. ]],

       [[160. , 340. , 594. ],
        [ 28. ,  40. ,  58.5]]])

In [96]:
a3.reshape(3,2,6)

array([[[  1,   2,   3,   4,   5,   6],
        [  7,   8,   9,  70,  80,  90]],

       [[ 10,  11,  12,  13,  14,  15],
        [ 16,  17,  18,   7,   8,   9]],

       [[100, 110, 120, 130, 140, 150],
        [160, 170, 180,   7,   8,   9]]])